form a {
   margin-left: 5px;
}

.btn, form{
   margin-top: 10px;
}
 h3 {
    margin-top: 20px !important;
}

header {
   margin-bottom: 15px;
}

footer {
   margin-top: 25px;
}

h3, h4 {
   margin-bottom: 25px !important;
}
